@media only screen and (max-device-width: 417px) {
  .container {
    .mini-container {
      h1 {
        font-size: 26px;
      }

      .fail-alert,
      .success-alert {
        width: 300px;
      }
    }
  }

  .box {
    width: 300px;
  }
}
