@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$box-bg: #f5f5f5;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;

  .mini-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: Roboto;
    }
  }
}

.box {
  height: auto;
  width: 400px;
  border: 1px solid;
  border-radius: 7px;
  background: $box-bg;

  div {
    text-align: center;
    padding-top: 12px;
    input {
      width: 80%;
      padding: 8px;
      font-family: Turret Road;
      font-size: 20px;
      margin-top: 10px;
    }

    textarea {
      width: 80%;
      padding: 5px;
      font-family: Turret Road;
      margin-top: 10px;
      font-size: 18px;
    }
  }
}
