@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$box-bg: #f5f5f5;

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: Roboto;
    }
  }
}

.box {
  height: 400px;
  width: 400px;
  border: 0.5px solid;
  border-radius: 10px;
  background: $box-bg;
}
