@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$box-bg: #f5f5f5;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;

  .mini-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: Roboto;
    }

    .success-alert {
      width: 400px;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      margin-bottom: 5px;
      font-family: Roboto;
      background: #4cb050;
      color: white;
    }

    .fail-alert {
      width: 400px;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      margin-bottom: 5px;
      font-family: Roboto;
      background: #d70000;
      color: white;
    }
  }
}

.box {
  height: auto;
  width: 400px;
  border: 1px solid;
  border-radius: 7px;
  background: $box-bg;

  div {
    text-align: center;
    padding-top: 12px;
    input {
      width: 80%;
      padding: 8px;
      font-family: Turret Road;
      font-size: 20px;
      margin-top: 10px;
    }

    textarea {
      resize: vertical;
      width: 80%;
      padding: 5px;
      font-family: Turret Road;
      margin-top: 10px;
      font-size: 18px;
    }

    button {
      position: relative;
      margin: 10px 0px;
      padding: 8px 30px;
      border-radius: 0px;
      border: 1px solid;
      background-color: #2197dd;
      font-family: Roboto;
      font-size: 18px;
      cursor: pointer;
      color: white;

      &:hover {
        animation: animate 0.5s linear forwards;
      }

      @keyframes animate {
        from {
          background-color: none;
        }
        to {
          background-color: #037cc2;
        }
      }
    }
  }
}
